page {
  height: 100%;

  .login {
    height: 100%;
  }

  .loginBg {
    width: 100%;
    height: 100%;
  }
  .loginContent {
    text-align: center;
    margin-top: -300px;
    .title {
      font-size: 26px;
      color: #787878;
    }
    .button {
      margin-top: 38px;
      width: 586px;
      border-radius: 100px;
    }
  }
}
